@model List<AllCarsLlistingViewModel>

    <form method="get">
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="card" style="width: 15rem">
                    <img class="card-img-top" src=@car.CarImageUrl>
                    <div class="card-body">
                        <h5 class="card-title">@car.Model (@car.KilometersTravelled km)</h5>
                        <p class="card-text">Plate Number: @car.PlateNumber<br />Type: @car.Type</p>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
        </div>
    </form>
