@model List<AllCarsTripViewModel>
@{
    ViewData["Title"] = "Choose Car";
}
<form method="get">
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="card" style="width: 15rem">
                <img class="card-img-top" src=@car.CarImageUrl>
                <div class="card-body">
                    <h5 class="card-title">@car.Model (@car.KilometersTravelled km)</h5>
                    <p class="card-text">Plate Number: @car.PlateNumber<br />Type: @car.Type</p>
                    <a asp-controller="Trips" asp-action="AddCar" asp-route-carid="@car.Id" asp-route-tripid="@car.TripId" class="btn btn-primary">Add @car.Model to Trip</a>
                </div>
            </div>
        }
    </div>
</form>
